<%- include('partials/header') -%>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-6">
                <h2>
                    <%= classPost.title%>
                </h2>
                <img class="img-fluid" src="<%= classPost.image%>" />
                <div class="row justify-content-between">

                    <form class="col-1" action="/classPost/likeClassPost/<%= classPost.id %>?_method=PUT" method="POST">
                        <button class="btn btn-primary fa-solid fa-thumbs-up" type="submit"></button>
                    </form>
                    <h3 class="col-3">Likes: <%= classPost.likes %></h3>

                    <!-- edit post -->
                    <%if(post.user==user.id){ %>
                        <form action="/classPost/editPost/<%= classPost.id %>?_method=PATCH" method="POST" class="col-3">
                            <button class="fa-sharp fa-solid fa-pen-to-square" type="submit"></button>
                        </form>
                    <%}%>
                    <!-- delete post -->
                    <%if(post.user==user.id){ %>
                        <form action="/classPost/deletePost/<%= classPost.id %>?_method=DELETE" method="POST" class="col-3">
                            <button class="btn btn-primary fa fa-trash" type="submit"></button>
                        </form>
                    <%}%>
                </div>
            </div>
            <div class="col-3 mt-5">
                <p>
                    <%= classPost.caption %>
                </p>
            </div>
            <div>
                <h2>Add a Comment</h2>
                <form class="col-1" action="/classComments/createComment/<%=classPost._id%>" method="POST">
                    <div class="mb-3">

                        <label for="comment" class="form-label">Comment</label>
                        <input type="text" id="comment" class="form-control" placeholder="Enter Comment" name='comment'
                            size="50">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <ul>
                <% for(var i=0; i<comment.length; i++) {%>
                    <li class="col-6 justify-content-between mt-5">
                        User: <%=comment[i].createdBy%> says "<%=comment[i].comment%>"
                                <div class="row justify-content-between">
                                    <!-- Acknowledge / like comment -->
                                    <form class="col-1"
                                        action="/classComments/likeComment/<%= comment[i]._id %>/<%=post._id%>?_method=PUT"
                                        method="POST">
                                        <button class="btn btn-primary fa-solid fa-thumbs-up"></i>" type="submit"></button>
                                    </form>
                                    <h6 class="col-6">Likes: <%= comment[i].likes %>
                                    </h6>
                                    <%if(comment[i].user==user.id){ %>
                                        <form
                                            action="/classComments/deleteComment/<%= comment[i]._id %>/<%=post._id%>?_method=DELETE"
                                            method="POST" class="col-3">
                                            <button class="btn btn-primary fa fa-trash" type="submit"></button>
                                        </form>
                                        <%}%>
                                </div>
                    </li>
                    <% } %>
            </ul>

            <div class="col-6 mt-5">
                <a class="btn btn-primary" href="/profile">Return to Profile</a>
                <a class="btn btn-primary" href="/feed">Return to Feed</a>
            </div>
        </div>
    </div>

    <%- include('partials/footer') -%>